<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the ofType
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d [%thread] %-5level %logger{24} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.cheetah" level="info" />
    <logger name="com.alibaba.dubbo" level="info" />
    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>